<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>员工界面</title>
  <link  rel="stylesheet" th:href="@{/css/table.css}" href="../css/table.css"> <!-- 引用外部CSS文件 -->
  <link  th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css">
  <script th:src="@{/js/jquery.min.js}" src="../js/jquery.min.js"></script>
  <script th:src="@{/js/bootstrap-paginator.min.js}" src="../js/bootstrap-paginator.min.js"></script>
  <script th:src="@{/js/request.js}" src="../js/request.js"></script>
  <script th:src="@{/js/table.js}" src="../js/table.js"></script>
</head>

<div class="container">
  <div class="toolbar">
    <div class="title-left">
      <h2>管理员管理</h2>
    </div>
    <div class="title-right">
      <button class="redBtn" onclick="multiDel('emp')">批量删除</button>
      <button id="addUserBtn" onclick="changeFrame('emp',-1)">+ 添加管理员</button>
      <input type="text" id="search-username" placeholder="编号搜索">
      <button id="searchBtn" onclick="SetPage('/blog/emp/page',1,10,['username'],'InputData_Emp')">搜索</button>
    </div>
  </div>

  <div class="pagination-table">
    <table>
      <thead>
        <tr>
          <th class="littleTh">复选</th> 
          <th>职工编号</th>
          <th>职工用户名</th>
          <th>创建时间</th>
          <th>登录时间</th>
          <th>超级管理员</th>
          <th>修改</th>
          <th>删除</th>
        </tr>
      </thead>
      <tbody id="emp-body">
      </tbody>
    </table>

    <div id="paginator-container"></div>
  </div>

  <script>
    SetPage('/blog/emp/page',1,10,['username'],'InputData_Emp');
  </script>
  
</div>

</body>
</html>