<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>举报界面</title>
  <link  rel="stylesheet" th:href="@{/css/table.css}" href="../css/table.css"> <!-- 引用外部CSS文件 -->
  <link  th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css">
  <script th:src="@{/js/jquery.min.js}" src="../js/jquery.min.js"></script>
  <script th:src="@{/js/bootstrap-paginator.min.js}" src="../js/bootstrap-paginator.min.js"></script>
  <script th:src="@{/js/request.js}" src="../js/request.js"></script>
  <script th:src="@{/js/table.js}" src="../js/table.js"></script>
</head>

<div class="container">
  <div class="toolbar">
    <div class="title-left">
      <h2>举报管理</h2>
    </div>
    <div class="title-right">
    </div>
  </div>

  <div class="pagination-table">
    <table>
      <thead>
        <tr>
          <th>举报编号</th>
          <th>举报目标</th>
          <th>目标编号</th>
          <th>用户编号</th>
          <th>举报内容</th>
          <th>创建时间</th>
          <th>处理</th>
          <th>驳回</th>
        </tr>
      </thead>
      <tbody id="report-body">
      </tbody>
    </table>

    <div id="paginator-container"></div>
  </div>

  <script>
    SetPage('/blog/report/page',1,10,[],'InputData_Report');
  </script>
  
</div>

</body>
</html>