<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>用户界面</title>
  <link  rel="stylesheet" th:href="@{/css/table.css}" href="../css/table.css"> <!-- 引用外部CSS文件 -->
  <link  th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css">
  <script th:src="@{/js/jquery.min.js}" src="../js/jquery.min.js"></script>
  <script th:src="@{/js/bootstrap-paginator.min.js}" src="../js/bootstrap-paginator.min.js"></script>
  <script th:src="@{/js/request.js}" src="../js/request.js"></script>
  <script th:src="@{/js/table.js}" src="../js/table.js"></script>
</head>

<div class="container">
  <div class="toolbar">
    <div class="title-left">
      <h2>用户管理</h2>
    </div>
    <div class="title-right">
      <input type="text" id="search-name" placeholder="昵称搜索">
      <button id="searchBtn" onclick="SetPage('/blog/user/page',1,10,['name'],'InputData_User')">搜索</button>
    </div>
  </div>

  <div class="pagination-table">
    <table>
      <thead>
        <tr>
          <th>用户编号</th>
          <th>昵称</th>
          <th>用户名</th>
          <th>头像</th>
          <th>电话号码</th>
          <th>年龄</th>
          <th>登录时间</th>
          <th>注册时间</th>
          <th>性别</th>
          <th>个性签名</th>
          <th>封禁天数</th>
          <th>封禁</th>
          <th>解封</th>
        </tr>
      </thead>
      <tbody id="user-body">
      </tbody>
    </table>

    <div id="paginator-container"></div>
  </div>

  <script>
    SetPage('/blog/user/page',1,10,['name'],'InputData_User');
  </script>
  
</div>

</body>
</html>