<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script th:src="@{/js/request.js}" src="../js/request.js"></script>
  <script th:src="@{/js/form.js}" src="../js/form.js"></script>
  <script th:src="@{/js/table.js}" src="../js/table.js"></script>
  <link  rel="stylesheet" th:href="@{/css/table.css}" href="../css/table.css"> <!-- 引用外部CSS文件 -->
  <link  th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css">
  <script th:src="@{/js/jquery.min.js}" src="../js/jquery.min.js"></script>
  <script th:src="@{/js/bootstrap-paginator.min.js}" src="../js/bootstrap-paginator.min.js"></script>
  <link  rel="stylesheet" th:href="@{/css/my.css}" href="../css/my.css"> 
  <title>个人中心</title>
</head>
<body>

  <div class="sidebar">
    <ul>
      <li><a onclick="showContent('profile-info') ">个人信息</a></li>
      <li><a onclick="showContent('change-form') ">修改信息</a></li>
      <li><a onclick="showContent('password-form') ">修改密码</a></li>
      <li><a onclick="showContent('blog-list') ">查看我的博客</a></li>
      <li><a onclick="showContent('coll-list') ">查看我的收藏</a></li>
    </ul>
  </div>

  <div class="content">
    <div id="profile-info" class="profile-info   content-section">
        <h2>个人信息</h2>
        <div class="profile-info-unit">
            <label for="m_name">昵称:</label>
            <span id="m_name"></span>
        </div>
        <div class="profile-info-unit">
            <label for="m_username">用户名:</label>
            <span id="m_username"></span>
        </div>
        <div class="profile-info-unit">
            <label for="m_id">用户号:</label>
            <span id="m_id"></span>
        </div>
        <div class="profile-info-unit">
            <label for="m_headImg">头像:</label>
            <img id="m_headImg" onerror="this.src='../../front/img/OIP.jpg';" src='' alt="找不到图片" />
        </div>
        <div class="profile-info-unit">
            <label for="m_age">年龄:</label>
            <span id="m_age"></span>
        </div>
        <div class="profile-info-unit">
            <label for="m_phone">联系方式:</label>
            <span id="m_phone"></span>
        </div>
        <div class="profile-info-unit">
            <label for="m_sex">性别:</label>
            <span id="m_sex"></span>
        </div>
        <div class="profile-info-unit">
            <label for="m_loginTime">登录时间:</label>
            <span id="m_loginTime"></span>
        </div>
        <div class="profile-info-unit">
            <label for="m_registerTime">注册时间:</label>
            <span id="m_registerTime"></span>
        </div>
        <div class="profile-info-unit">
            <label for="m_sign">个性签名:</label>
            <span id="m_sign"></span>
        </div>
    </div>

    <div id="change-form" class="change-form  content-section">
        <form id="InpForm" class="my-form-info">
            <div class="input-row">
              <label for="name">昵称:</label>
              <input type="text" id="name" name="name">
            </div>
            <div class="input-row">
                <label for="headImg">头像:</label>
                <input type="file" id="headImg" name="headImg" accept="image/*">
              </div>
            <div class="input-row">
              <label for="age">年龄:</label>
              <input type="number" id="age" name="age">
            </div>
            <div class="input-row">
                <label for="sex">性别:</label>
                <select id="sex" name="sex">
                    <option value="0">男</option>
                    <option value="1">女</option>
                </select>
              </div>
            <div class="input-row">
                <label for="phone">联系方式:</label>
                <input type="tel" id="phone" name="phone">
              </div>
            <div class="input-row">
              <label for="sign">个性签名:</label>
              <textarea  id="sign" name="sign"></textarea>
            </div>
        
            <input type="submit" value="提交" onclick="formSubmit_img('/blog/user','User','headImg')">
          </form>
    </div>
    
    <div id="password-form" class="password-form  content-section">
        <form id="PwdForm" class="my-form-info">
            <div class="input-row">
              <label for="oldPwd">旧密码:</label>
              <input type="password" id="oldPwd" name="oldPwd">
            </div>
            <div class="input-row">
                <label for="newPwd">新密码:</label>
                <input type="password" id="newPwd" name="newPwd">
              </div>  
        
            <input type="submit" value="提交" onclick="formSubmit_pwd('/blog/user/updPwd')">
          </form>
    </div>
    
    <div id="blog-list" class="blog-list  content-section">
        <div class="container">
            <div class="toolbar">
              <div class="title-left">
                <h2>博客</h2>
              </div>
              <div class="title-right">
                <input type="text" id="search-title" placeholder="标题搜索">
                <button id="searchBtn2" onclick="SetPage2('/blog/blog/userpage',1,20,['title'],'InputData_Blog',2)">搜索</button>
              </div>
            </div>
          
            <div id="blog-body" class="grid">
            </div>
          
              <div id="paginator-container2"></div>
        </div>
          
            <script>
              SetPage2('/blog/blog/userpage',1,20,[],'InputData_Blog',2);
            </script>
            
          </div>

    <div id="coll-list" class="coll-list  content-section">
      <div class="container">
        <div class="toolbar">
          <div class="title-left">
            <h2>收藏</h2>
          </div>
          <div class="title-right">
          </div>
        </div>
      
        <div id="coll-body" class="grid">
        </div>
      
          <div id="paginator-container3"></div>
        </div>
      
        <script>
          SetPage2('/blog/userColl/userpage',1,20,[],'InputData_Coll',3);
        </script>
        
      </div>
    </div>

  </div>
  <script th:src="@{/js/my.js}" src="../js/my.js"></script>

</body>
</html>
